<p><a class="large-left" href="tel:89062388048"> <i class="fa fa-phone"></i> 8 (906) 23-88-048</a><br>
<a class="large-right" href="tel:89216104152"> <i class="fa fa-phone"></i> 8 (921) 610-41-52</a></p>