<style>
    .sp-usluga {
        clear: both;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .sp-picture {
        height: 160px;
        width: 236px;
        display: block;
        float: left;
    }
</style>

<section class="sp-usluga">
    <div class="sp-picture">
        <img class="alignleft size-full wp-image-420" title="Индивидуальное консультирование" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/03.jpg" alt="" width="160" height="131" />
    </div>
    <div>        
        <h3> Индивидуальное консультирование </h3>
        <p> <strong> Что такое индивидуальное консультирование? </strong> </p>
        <p>
            Это встреча двух людей, в которой возможно многое. Здесь решаются различные психологические проблемы и трудности, задаются вопросы, проясняются желания, осознаются мотивы и т.д. Длительность консультации 50-55 мин. Количество встреч определяется вместе с клиентом на первой встрече.
        </p>
    </div>    
</section>

<section class="sp-usluga">
    <div>        
        <h3> Гештальт-терапия </h3>
        <p> <strong> Что это такое? </strong> </p>
        <p>
            Это более глубокий и может более длительный процесс работы. В процессе гештальт-терапии немаловажный аспект играют отношения, в том числе и между терапевтом и клиентом, так как здесь можно отследить привычные модели (не всегда успешные) взаимодействия с людьми. В данной работе проясняется как человек строит контакт с людьми, с собой и внешним миром. Работа очень интересная, так как помогает осознавать себя и повышать качество отношений и жизни. Длительность 50-55 мин., обычно раз в неделю.
        </p>
    </div>    
</section>

<section class="sp-usluga">
    <div class="sp-picture">
        <img class="alignleft size-full wp-image-420" title="Семейная и супружеская терапия" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/04.jpg" alt="" width="160" height="131" />
    </div>    
    <div>        
        <h3> Семейная и супружеская терапия </h3>
        <p>
            При данной работе на прием приходит вся семья или супруги, здесь идет исследование семейной системы и отношений. Длительность 50-55 мин.
        </p>
    </div>    
</section>

<section class="sp-usluga">
    <div class="sp-picture">
        <img class="alignleft size-full wp-image-420" title="Групповая работа и групповая психотерапия" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/022.jpg" alt="" width="160" height="131" />
    </div>    
    <div>        
        <h3> Групповая работа и групповая психотерапия </h3>
        <p>
            Групповой процесс обладает огромными возможностями и ресурсами для внутренних изменеий. Группа – это ваша жизнь в миниатюре. Она позволит вам увидеть себя глазами других людей и понять их реакции, связанные с вами. Только группа может ответить на вопрос «Кто ты среди других людей?»
        </p>
        <p>
            Психологическая группа дает человеку шанс обменяться с другими участниками накопленным опытом жизни, вместе что-то пережить, узнать о других ценностях и способах преодоления трудностей. Участие в группах поможет исследовать особенности вашего взаимодействия с другими людьми и в безопасной обстановке испытать новые способы общения. Целью участников может быть не только решение проблем и трудностей, но и собственное развитие и самопознание.
        </p>
        <p>
            <strong>Группа «Искусство отношений»</strong>. 
            Группу ведут два психолога, гештальт-терапевты. Количество участников 5-9 человек. Количество встреч: 12. Стоимость одного занятия: 1000₽. Занятия проходят один раз в неделю с 18:00 до 21:00. 
            <strong>
                <a href="http://studiapozitiv.ru/terapevticheskaya-gruppa-iskusstvo-otnoshenij.html">Подробнее...</a>
            </strong>
        </p>
        <p>
            <strong>Группа «Мужчина и женщина»</strong>. 
            Группу ведут два психолога. Стоимость одного занятия: 1000₽. Количество - 12 встреч с возможным продолжением. Занятия проходят один раз в неделю с 18:00 до 21:00. 
            <strong>
                <a href="http://studiapozitiv.ru/terapevticheskaya-gruppa-muzhchina-i-zhenshhina.html">Подробнее...</a>
            </strong>
        </p>
       <p>
            <strong>Группа личностного роста</strong>. 
            Группу ведет один психолог. Курс 10 занятий, стоимость одного занятия 800₽, длительность - 3 часа. Проходит в режиме один раз в неделю, вечером. Количество участников 4-7 человек. Оплата по занятиям.
            <strong>
                <a href="http://studiapozitiv.ru/terapevticheskaya-gruppa-muzhchina-i-zhenshhina.html">Подробнее...</a>
            </strong>
        </p>              
    </div>    
</section>

<section class="sp-usluga">
    <div class="sp-picture">
        <img class="alignleft size-full wp-image-420" title="Индивидуальная работа с детьми и подростками" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/05.jpg" alt="" width="160" height="131" />
    </div>    
    <div>        
        <h3> Индивидуальная работа с детьми и подростками </h3>
        <p>
            Эта работа строится, основываясь на возрасте данного ребенка или подростка, а также в зависимости от запроса родителей и самого ребенка. Занятие длится 50-55 мин.
        </p>
        <p style="height: 200px;">
            Фото: <br>
            <a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/11_1.jpg"><img class="alignleft size-thumbnail wp-image-83" title="индивидуальная работа с детьми и подростками" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/11_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/12_1.jpg"><img class="alignleft size-thumbnail wp-image-84" title="индивидуальная работа с детьми и подростками" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/12_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/13_1.jpg"><img class="alignleft size-thumbnail wp-image-85" title="индивидуальная работа с детьми и подростками" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/13_1-150x150.jpg" alt="" width="150" height="150" /></a>            
        </p>
    </div>    
</section>

<section class="sp-usluga">
    <div class="sp-picture">
        <img class="alignleft size-full wp-image-420" title="Детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/06.jpg" alt="" width="160" height="131" />
    </div>    
    <div>        
        <h3>Детские и подростковые группы</h3>
        <h4>Психологическая подготовка к школе</h4>
        <p>(дети 5-7 лет)</p>
        <p>
            При данной работе на прием приходит вся семья или супруги, здесь идет исследование семейной системы и отношений. Длительность 50-55 мин.
        </p>
        <p>
            Занятия в группе формируют те качества, которые необходимы для освоения школьной программы, адаптации к коллективу и новому этапу. Психологическая готовность к школьному обучению выражается:

        </p>
        <div class="otstup-list">
            <ul>
                <li>в способности понимать особую роль учителя, школьника;</li>
                <li>понимание учебной задачи и наличие школьной мотивации;</li>
                <li>умение сотрудничать с взрослыми и сверстниками;</li>
                <li>адекватное отношение к себе и к оценкам</li>
            </ul>
        </div>        
        <p>
            Длительность одного занятия 1,5 часа.
        </p>
        <h4>Практический курс «Эйдетика» по развитию памяти, внимания, воображения и творческого мышления</h4>
        <p>
            (дети и подростки 7-14 лет, группы формируются по возрасту)
        </p>
        <p>
            Занятия дают возможность:
        </p>
        <div class="otstup-list">
            <ul>
                <li>узнать о секретах запоминания различной информации;</li>
                <li>научится управлять своим вниманием;</li>
                <li>развить скорость, гибкость и оригинальность мышления;</li>
                <li>раскрыть естественный потенциал творческих возможностей;</li>
                <li>активизировать умственные процессы;</li>
                <li>усилить веру в себя и в свои возможности;</li>
            </ul>
        </div>
        <p>
            Курс 20 занятий, 1 занятие в неделю по 1,5 часа.
        </p>

        <h4>Тренинги общения для подростков</h4>
        <p>
            (12-17 лет, группы формируются по возрасту)
        </p>
        <p>
            Профилактирует кризис этого возраста, помогает найти друзей, повысить уверенность, самооценку.
        </p>

        <h4>Тренинг профориентации для подростков</h4>
        <p>(15-17 лет)</p>
        <p>Данный тренинг поможет определиться в профессиональном направлении. Курс 10 занятий, 1 занятие в неделю по 2 часа.</p>
        <p>
            <a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/05_1.jpg"><img class="alignleft size-thumbnail wp-image-87" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/05_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/06_1.jpg"><img class="alignleft size-thumbnail wp-image-88" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/06_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/07_1.jpg"><img class="alignleft size-thumbnail wp-image-89" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/07_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/08_1.jpg"><img class="alignleft size-thumbnail wp-image-90" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/08_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/09_1.jpg"><img class="alignleft size-thumbnail wp-image-91" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/09_1-150x150.jpg" alt="" width="150" height="150" /></a><a href="http://studiapozitiv.ru/wp-content/uploads/2011/11/10_1.jpg"><img class="alignleft size-thumbnail wp-image-92" title="детские и подростковые группы" src="http://studiapozitiv.ru/wp-content/uploads/2011/11/10_1-150x150.jpg" alt="" width="150" height="150" /></a>
        </p>
    </div>    
</section>
